@import url('https://fonts.googleapis.com/css2?family=Rubik+Puddles&display=swap');


h1{
	text-align:center;
	font-size:50px;
	font-family: 'Rubik Puddles';
	text-shadow: 1px 10px 10px #f54242;
	color: white;
}
.left{
	position: absolute;
	top: 20px;
	left: 900px;
	width: 100%;
	height: 100%;
	text-shadow: 1px 10px 10px #f54242;
	color: white;
}
.left1{
	position: absolute;
	top: 40px;
	left: 900px;
	width: 100%;
	height: 100%;
	text-shadow: 1px 10px 10px #f54242;
	color: white;
}
.left2{
	position: absolute;
	top: 60px;
	left: 900px;
	width: 100%;
	height: 100%;
	text-shadow: 1px 10px 10px #f54242;
	color: white;
}
.left3{
	position: absolute;
	top: 80px;
	left: 900px;
	width: 100%;
	height: 100%;
	text-shadow: 1px 10px 10px #f54242;
	color: white;
}
.left4{
    position: absolute;
	top: 100px;
	left: 900px;
	width: 100%;
	height: 100%;
	text-shadow: 1px 10px 10px #f54242;
	color: white;
}